* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.header {
  margin: 30px 30px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 200px;
}

.header .nav .menu {
  display: flex;
  list-style: none;
}

.header .nav .menu li {
  margin: 0 20px;
  color: #000;
  font-size: 20px;
}

.header .nav .menu li:hover {
  background: #e62097;
  border-radius: 28px;
}

.header .botones a {
  font-size: 20px;
  margin-right: 20px;
}
.header .botones .button {
  margin: 0 auto;
  font-size: 20px;
}

.button {
  font-family: Georgia;
  color: #f0edf0;
  font-size: 35px;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 1px 1px 3px #666666;
  border: solid #d91c71 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fc3f94), to(#fc0574));
  background: -moz-linear-gradient(top, #fc3f94, #fc0574);
}
.button:hover {
  background: #e62097;
}

/*Contenedor Principal*/
.section-principal {
  background-color: rgba(240, 238, 238, 0.952);
  margin: 50px 30px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-principal .information-container {
  text-align: left;
}

.titulo {
  font-size: 70px;
  color: #c520e6;
  word-spacing: 10px;
  margin-top: 0;
  margin-bottom: 15px;
}

.section-principal .information-container .information {
  text-align: left;
  font-size: 20px;
  padding-right: 50px;
}

.section-principal .information-container .video {
  padding-right: 50px;
  width: 50%;
}

/*Seccion de historia*/
#inicios {
  margin: 30px 30px;
  padding: 10px 10px;
  display: flex;
  background-color: rgba(240, 238, 238, 0.952);
}

#inicios .kda {
  width: 50%;
}

#inicios article h3 {
  font-size: 40px;
  color: #c520e6;
}
#inicios article {
  float: left;
  margin: 5px 30px;
  text-align: center;
  line-height: 2;
  font-size: 15px;
  font-weight: bold;
}

/* Seccion de integrantes*/

#integrantes {
  margin: 30px 30px;
  padding: 10px 10px;
  background-color: rgba(240, 238, 238, 0.952);
}

#integrantes h3 {
  text-align: center;
  font-size: 40px;
  color: #c520e6;
}

#integrantes .grid-cards {
  padding-top: 15px;
  padding-left: 100px;
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, 50%);
}
#integrantes .grid-cards h4 {
  padding: 10px 0;
  font-size: 25px;
  text-align: center;
}
#integrantes .grid-cards p {
  margin: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
}
.integrante-foto {
  width: 450px;
}

.item5 {
  display: flex;
  grid-column: 1 / span 2;
  flex-direction: column;
  justify-content: center;
}

.item5 .integrante-foto-flex {
  width: 450px;
  margin: auto;
}

/*Seccion canciones*/
#canciones {
  margin: 30px 30px;
  padding: 10px 10px;
  background-color: rgba(240, 238, 238, 0.952);
  display: flex;
  justify-content: center;
}


#canciones .lista th{
    background-color:#d03fec;
}
#canciones .lista th,td{
    border: 1px solid #000;
    padding:10px;
    text-align: center;
    margin:auto;
    border-spacing: 15px;
    border-radius: 28px;
}
#canciones .lista .select:hover{
    background-color: #d03fec;
    cursor: pointer;
}

#canciones .lista .select:hover a{
    color: #fff;
    font-weight:bold;
}

/*Footer*/
footer{
    display: flex;
    width:100%;
    height:100px;
    align-items: center;
    justify-content: center;
    background-color:#d03fec;
    font-size: 20px;
    font-weight:bold;
}
